# This variable will be prefixed to all machines created by terraform
praefect_demo_cluster_name = "<%= praefect_demo_cluster_name %>"

ssh_user = "<%= username %>"
ssh_pubkey = "<%= ssh_pubkey %>"
praefect_sql_password = "<%= praefect_sql_password %>"
gitlab_root_password = "<%= gitlab_root_password %>"
